
.icon-art-gallery:before { content: '\e800'; } /* '' */
.icon-home:before { content: '\e801'; } /* '' */
.icon-mail:before { content: '\e802'; } /* '' */
.icon-user-female:before { content: '\f063'; } /* '' */